<!-- views/charities-show.handlebars -->

<a href="/">Back to Home</a>
<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <h1>{{charity.name}}</h1>
    <h2>{{charity.purpose}}</h2>
    <p>{{charity.description}}</p>
    <p><a href="/charities/{{charity._id}}/edit">Edit</a></p>
    <p><form method="POST" action="/charities/{{charity._id}}?_method=DELETE">
        <button class="btn btn-primary" type="submit">Delete</button>
    </form></p>
      <hr>
      <!-- Comment form -->
      {{> opinion-form}}
      <hr>
      <!-- Show Comments -->
      {{#each opinions}}
        {{> opinion}}
      {{/each}}
  </div>
</div>